[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
click = "*"
tqdm = "*"
beautifulsoup4 = "*"
click_spinner="*"
[requires]
python_version = "3.6"
